// nextflow.config
workDir = '/Users/rnadeau2/Documents/LESMoNlocal/nextflow'

params {
    maxMemory     = '8 GB'
    maxCpus       = 4
}

/* Profiles: Configurations for execution environment, default = standard ; in future update for CC */
profiles {
    standard {
        process.executor = 'local'
    }
}
